OPEN_AI_API_KEY=
HF_TOKEN=
GEMINI_API_KEY=
GROQ_API_KEY=
NODE_ENV=development
PORT=

MONGO_URI=
DB_DATABASE=

FRONTEND_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

JWT_SECRET=
SALT_ROUND=10
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN_REMEMBER=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_NAME=
MAIL_FROM_ADDRESS=

REDIS_HOST=redis
REDIS_PORT=6379
